.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  border: 0.5px solid #ced4da;
  max-width: 500px;
  padding: 30px;
  border-radius: 25px;
  margin-left: 38%;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

/* p {
  margin-bottom: 5px;
} */

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

button {
  padding: 10px 20px;
  background-color: #21307a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #31439a;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.error-message {
  color: red;
}
.button-container {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
